### ETL Project Jean, David & Elvis

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
##Extract csvs into dataframes
suicide_data = "who_suicide_statistics.csv"
whodat_df = pd.read_csv(suicide_data)
whodat_df.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

In [3]:
world_bank_data = "Wealth-AccountsData.csv"
gdp_df = pd.read_csv(world_bank_data)
gdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1995,2000,2005,2010,2014
0,East Asia & Pacific,EAS,Human capital (constant 2014 US$),NW.HCA.TO,1.010000e+14,1.120000e+14,1.140000e+14,1.500000e+14,1.810000e+14
1,East Asia & Pacific,EAS,Human capital per capita (constant 2014 US$),NW.HCA.PC,5.491949e+04,5.789417e+04,5.645355e+04,7.164342e+04,8.433397e+04
2,East Asia & Pacific,EAS,Natural capital (constant 2014 US$),NW.NCA.TO,1.180000e+13,1.350000e+13,1.770000e+13,2.750000e+13,3.160000e+13
3,East Asia & Pacific,EAS,Natural capital per capita (constant 2014 US$),NW.NCA.PC,6.407925e+03,6.950645e+03,8.788031e+03,1.317912e+04,1.473926e+04
4,East Asia & Pacific,EAS,"Natural capital per capita, agricultural land ...",NW.NCA.AGRI.PC,3.812813e+03,4.473152e+03,5.275056e+03,6.418146e+03,7.639804e+03

In [4]:
##Transform Suicide Data
# Create a filtered dataframe from specific columns
whodat_cols = ["country", "year", "suicides_no", "population"]
whodat_transformed = whodat_df[whodat_cols].copy()

#Clean data by dropping rows with null values
whodat_transformed = whodat_transformed.dropna(how='any')
whodat_transformed.head()

    country  year  suicides_no  population
24  Albania  1987         14.0    289700.0
25  Albania  1987          4.0    257200.0
26  Albania  1987          6.0    278800.0
27  Albania  1987          0.0    311000.0
28  Albania  1987          0.0    144600.0

In [5]:
#Isolate years in question (these are the years the World Bank has record of GDP)
who95_df = whodat_transformed.loc[whodat_transformed["year"]==1995,:]
who00_df = whodat_transformed.loc[whodat_transformed["year"]==2000,:]
who05_df = whodat_transformed.loc[whodat_transformed["year"]==2005,:]
who10_df = whodat_transformed.loc[whodat_transformed["year"]==2010,:]
who14_df = whodat_transformed.loc[whodat_transformed["year"]==2014,:]
who14_df.head()

                  country  year  suicides_no  population
1032  Antigua and Barbuda  2014          0.0      8537.0
1033  Antigua and Barbuda  2014          0.0      7578.0
1034  Antigua and Barbuda  2014          0.0     15273.0
1035  Antigua and Barbuda  2014          0.0      8296.0
1036  Antigua and Barbuda  2014          0.0      6085.0

In [6]:
#Calculate suicide totals by country for 1995 and rename column to represent that year
who95stats = who95_df.groupby("country").sum()["suicides_no"]
who95stats_df = pd.DataFrame(who95stats)
who95stats_df = who95stats_df.rename(columns={"suicides_no":"1995"})
who95stats_df.head()

#Calculate suicide totals by country for 2000 and rename column to represent that year
who00stats = who00_df.groupby("country").sum()["suicides_no"]
who00stats_df = pd.DataFrame(who00stats)
who00stats_df = who00stats_df.rename(columns={"suicides_no":"2000"})
who00stats_df.head()

#Calculate suicide totals by country for 2005 and rename column to represent that year
who05stats = who05_df.groupby("country").sum()["suicides_no"]
who05stats_df = pd.DataFrame(who05stats)
who05stats_df = who05stats_df.rename(columns={"suicides_no":"2005"})
who05stats_df.head()

#Calculate suicide totals by country for 2010 and rename column to represent that year
who10stats = who10_df.groupby("country").sum()["suicides_no"]
who10stats_df = pd.DataFrame(who10stats)
who10stats_df = who10stats_df.rename(columns={"suicides_no":"2010"})
who10stats_df.head()

#Calculate suicide totals by country for 2014 and rename column to represent that year
who14stats = who14_df.groupby("country").sum()["suicides_no"]
who14stats_df = pd.DataFrame(who14stats)
who14stats_df = who14stats_df.rename(columns={"suicides_no":"2014"})
who14stats_df.head()

                       2014
country
Antigua and Barbuda     0.0
Argentina            3231.0
Armenia                58.0
Aruba                   5.0
Australia            2891.0

In [7]:
#Merge dataframes for each year to one df for final suicide count by country
suicidemerge = pd.merge(who95stats_df,who00stats_df,on='country', how='inner')
suicidemerge = pd.merge(suicidemerge,who05stats_df,on='country', how='inner')
suicidemerge = pd.merge(suicidemerge,who10stats_df,on='country', how='inner') 
suicidemerge = pd.merge(suicidemerge,who14stats_df,on='country', how='inner') 
suicidemerge.head()

             1995    2000    2005    2010    2014
country
Argentina  2204.0  2774.0  3058.0  2943.0  3231.0
Aruba         8.0    10.0    10.0     7.0     5.0
Austria    1788.0  1588.0  1399.0  1264.0  1314.0
Belgium    2155.0  2143.0  2029.0  2013.0  1899.0
Belize       14.0    18.0    12.0    15.0    24.0

In [8]:
#resetting index 
suicidemerge = suicidemerge.reset_index()
suicidemerge.head()

     country    1995    2000    2005    2010    2014
0  Argentina  2204.0  2774.0  3058.0  2943.0  3231.0
1      Aruba     8.0    10.0    10.0     7.0     5.0
2    Austria  1788.0  1588.0  1399.0  1264.0  1314.0
3    Belgium  2155.0  2143.0  2029.0  2013.0  1899.0
4     Belize    14.0    18.0    12.0    15.0    24.0

In [9]:
#Using unpivot the suicide table for more normalized data format
suicidefinal = pd.melt(suicidemerge, id_vars='country', value_vars=['1995','2000','2005','2010','2014'], var_name ='year', value_name='suicide_total')
suicidefinal.head()

     country  year  suicide_total
0  Argentina  1995         2204.0
1      Aruba  1995            8.0
2    Austria  1995         1788.0
3    Belgium  1995         2155.0
4     Belize  1995           14.0

In [10]:
suicidefinal.set_index("country", inplace=True)
suicidefinal.head()

           year  suicide_total
country
Argentina  1995         2204.0
Aruba      1995            8.0
Austria    1995         1788.0
Belgium    1995         2155.0
Belize     1995           14.0

In [11]:
##Transform GDP Data
# Create a filtered dataframe from specific columns
gdp_cols = ["Country Name", "Indicator Name", "1995","2000","2005","2010","2014"]
gdp_transformed = gdp_df[gdp_cols].copy()

# Rename the column headers
gdp_transformed = gdp_transformed.rename(columns={"Country Name": "country","Indicator Name":"indicator"})

#Isolate data for only Total Wealth Per Capita indicator which we are using as GDP measurement
gdp_transformed = gdp_transformed.loc[gdp_transformed["indicator"]=="Total wealth per capita (constant 2014 US$)",:]

gdp_transformed.head()

,country,indicator,1995,2000,2005,2010,2014
53,East Asia & Pacific,Total wealth per capita (constant 2014 US$),76101.89666,83617.51967,89772.76589,117982.63150,140041.72110
107,East Asia & Pacific (low and middle income),Total wealth per capita (constant 2014 US$),31261.04522,37507.34311,44096.82263,71423.49634,91581.02295
161,Europe & Central Asia,Total wealth per capita (constant 2014 US$),279650.76390,300506.14180,327765.19760,355494.90340,368232.90400
215,Europe & Central Asia (low and middle income),Total wealth per capita (constant 2014 US$),51967.08862,47275.88893,56494.41915,66066.16843,70529.77890
269,High income: non-OECD,Total wealth per capita (constant 2014 US$),163826.87190,163232.17490,194242.68310,241224.25310,264998.14420

In [12]:
#Using unpivot for the table to normalized data format
gdp_transformed = pd.melt(gdp_transformed, id_vars=['country'], value_vars=['1995','2000','2005','2010','2014'], var_name ='year', value_name='gdp')
gdp_transformed

                                               country  year           gdp
0                                  East Asia & Pacific  1995  7.610190e+04
1          East Asia & Pacific (low and middle income)  1995  3.126105e+04
2                                Europe & Central Asia  1995  2.796508e+05
3        Europe & Central Asia (low and middle income)  1995  5.196709e+04
4                                High income: non-OECD  1995  1.638269e+05
5                                    High income: OECD  1995  5.474193e+05
6                            Latin America & Caribbean  1995  1.083512e+05
7    Latin America & Caribbean (low and middle income)  1995  1.081666e+05
8                                           Low income  1995  1.160055e+04
9                                  Lower middle income  1995  1.771764e+04
10                          Middle East & North Africa  1995  9.120287e+04
11   Middle East & North Africa (low and middle inc...  1995  2.497282e+04
12                                       North America  1995  7.823699e+05
13                                          South Asia  1995  9.250633e+03
14                                  Sub-Saharan Africa  1995  2.640280e+04
15                                 Upper middle income  1995  5.114247e+04
16                                               World  1995  1.289292e+05
17                                             Albania  1995  3.137298e+04
18                                           Argentina  1995  1.013644e+05
19                                             Armenia  1995  1.893775e+04
20                                           Australia  1995  6.882706e+05
21                                             Austria  1995  5.312693e+05
22                                          Azerbaijan  1995  2.814925e+04
23                                             Bahrain  1995  3.158319e+05
24                                          Bangladesh  1995  5.667393e+03
25                                             Belarus  1995  4.934897e+04
26                                             Belgium  1995  4.635290e+05
27                                              Belize  1995  6.245793e+04
28                                             Bolivia  1995  3.948428e+04
29                              Bosnia and Herzegovina  1995  1.082779e+04
..                                                 ...   ...           ...
760                                          Singapore  2014  7.751960e+05
761                                    Slovak Republic  2014  2.132114e+05
762                                           Slovenia  2014  3.517761e+05
763                                    Solomon Islands  2014  3.124516e+04
764                                       South Africa  2014  7.734821e+04
765                                              Spain  2014  3.424703e+05
766                                          Sri Lanka  2014  4.496969e+04
767                                           Suriname  2014  1.616902e+05
768                                          Swaziland  2014  5.267010e+04
769                                             Sweden  2014  8.861292e+05
770                                        Switzerland  2014  1.466757e+06
771                                         Tajikistan  2014  4.228562e+04
772                                           Tanzania  2014  1.745060e+04
773                                           Thailand  2014  6.259894e+04
774                                               Togo  2014  1.892375e+04
775                                            Tunisia  2014  4.515039e+04
776                                             Turkey  2014  4.599800e+04
777                                       Turkmenistan  2014  1.468310e+05
778                                             Uganda  2014  1.373208e+04
779                                            Ukraine  2014  5.605344e+04
780                               United Arab Emirates  2014  7.382704e+05
781                                     United Kingdom  2014  6.476935e+05
782                                      United States  2014  9.832799e+05
783                                            Uruguay  2014  2.546007e+05
784                                      Venezuela, RB  2014  1.625598e+05
785                                            Vietnam  2014  2.736814e+04
786                                 West Bank and Gaza  2014  3.056743e+04
787                                        Yemen, Rep.  2014  2.290859e+04
788                                             Zambia  2014  4.096541e+04
789                                           Zimbabwe  2014  1.895762e+04

[790 rows x 3 columns]

In [13]:
#Set indexes for countries
gdp_transformed.set_index("country", inplace=True)
gdp_transformed.head()

                                               year           gdp
country
East Asia & Pacific                            1995   76101.89666
East Asia & Pacific (low and middle income)    1995   31261.04522
Europe & Central Asia                          1995  279650.76390
Europe & Central Asia (low and middle income)  1995   51967.08862
High income: non-OECD                          1995  163826.87190

In [14]:
##Create Database Connection
### JEAN you have the database for pushing the data into database
connection_string = "postgres:postgres@localhost:5432/ETL"
# engine = create_engine(f'postgresql://{connection_string}')

# default
engine = create_engine('postgresql://postgres:jean7920@localhost/ETL')

# psycopg2
# engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/ETL')

In [15]:
# Confirm tables
engine.table_names()

['suicidefinal', 'gdp_transformed', 'suicide', 'revenue']

In [16]:
###### Load DataFrames into database
suicidefinal.to_sql(name='suicide', con=engine, if_exists='append', index=True)

In [17]:
gdp_transformed.to_sql(name='revenue', con=engine, if_exists='append', index=True)

### The end of the project